@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

.how {
    font-family: 'Poppins';
}

.how-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.how h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.how p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
/*here*/

.how {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Styling for the content area */
  .how-content {
    padding: 20px;
    margin-bottom: 50px;
  }
  
  /* Styling for the main heading */
  .how-content h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styling for the 'How It Works' section */
  .additional-section2 {
    margin-top: 30px;
  }
  
  .additional-section2 h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Styling for the slider */
  .slide {
    text-align: center;
    padding: 20px 30px;
  }
  
  .slide h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .slide p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  /* Styling for the images within the slides */
  .slide img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Styling for slick carousel dots */
  .slick-dots {
    bottom: 20px;
  }
  
  .slick-dots li button:before {
    font-size: 14px;
    color: #999;
  }
  
  .works {
    background: #fff;
    color: #2b2b2b;
    padding: 50px 20px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 15px;
  }
  
  .works h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .works ul {
    align-items: center;
    font-size: 2em;
    font-weight: 600;
  }
  
  .works p {
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .slick-next {
    right: -70px !important;
  }
  
  .slick-prev {
    left: -70px !important;
  }

  .workimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30% !important;
  }

  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }

  .worksh2 {
    font-size: 2.5em !important;
    text-align: center;
    color: white;
    margin: 30px 0 !important;
  }