/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  .navbar-link {
    text-decoration: none;
  }
  
  .navbar-links a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #fff2e9; /* Hover color */
  }
  
.howitworksbold {
  background: #fff;
  color: #242424 !important;
  border-radius: 25px;
  padding: 3px 10px;
}

.howitworksbold:hover {
  background: #eaeaea;
  padding: 4px 11px;
}